body {
  font-family: 'IBM Plex Mono', monospace;
  margin: auto;
  max-width: 50em;
  background-color: #212424;
  color: #e1e1e1;
}

#page-title {
  text-align: center;
  /* color: #e1e1e1; */
}

a {
  color: #41c7c7 !important;
}

a:hover {
  font-weight: 600 !important;
  text-decoration: underline !important;
}

#page-title h1 a {
  /* color: black; */
  font-size: 2.7rem;
}

/* .post a {
  color: black;
} */

#author-name h6 a {
  /* color: black; */
  font-weight: 600;
  font-size: small;
}

#page-title a:hover,
.post a:hover {
  text-decoration: underline;
}

.date-time-title {
  font-family: 'IBM Plex Mono', monospace;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.posts_listing li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

code {
  font-family: 'IBM Plex Mono', monospace !important;
  white-space: pre;
  overflow-x: auto;
  font-size: inherit;
  color: #FE6A6A;
}

pre {
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid lighten(#111, 90);
  /* background-color: #efefef */
}

footer {
  text-align: center;
}

pre {
  border: none !important;
  box-shadow: none !important;
  background-color: #2e2e2e !important;
}