<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <link rel='stylesheet' href='/css/bundle.css'>
        <title>{{.Title}}</title>

        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="nav-item nav-link {{ if eq .URL "/"}}active{{ end }}" href="/">
              <i class="fas fa-home"></i>
              <span class='label'>Home</span>
            </a>
            {{ with .Site.Params.github }}<a class="nav-item nav-link" href="https://github.com/{{ . }}" target="_blank"><i class="fab fa-github"></i><span class='label'>Github</span></a>{{ end }}
            {{ with .Site.Params.gitlab }}<a class="nav-item nav-link" href="https://gitlab.com/{{ . }}" target="_blank"><i class="fab fa-gitlab"></i><span class='label'>Gitlab</span></a>{{ end }}
            {{ with .Site.Params.twitter }}<a class="nav-item nav-link" href="https://twitter.com/{{ . }}" target="_blank"><i class="fab fa-twitter"></i><span class='label'>Twitter</span></a>{{ end }}
            <a class="nav-item nav-link {{ if eq .URL "/about/"}}active{{ end }}" href="/about/"><i class="fas fa-info-circle"></i><span class='label'>About</span></a>
        </nav>
